

.body {
  background-color: #fff;
  color: black;
  
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2px 4px;
  background-color: whitesmoke;
  border-bottom: 1px solid #f0f0f0;
  top: 0;
 
}
.page-border {
  background-color: whitesmoke;
  border: 2px solid #ccc;
  border-radius: 16px;
  max-width: 1100px;
  width: 100%100px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  overflow: hidden;
  justify-content: center;
padding: 10px 15px;
margin-left: 200px;
margin-top: 100px;
margin-right: 30px;
  
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.nav-links a {
  margin: 10px;
  text-decoration: none;
  color:black;
  font-weight: 500;
  font-size: 20px;
 
}

.nav-links a:hover {
  color: black;
}

.right-buttons {
  display: flex;
  align-items: center;
  gap: 1px;
}

.app-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;

}

.app-btn:hover {
  background-color: black;
}

.lang-select {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 15px;
  background: #fff;
  font-size: 15px;
}

.hero {
  text-align: center;
  padding: 10px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 50px;
  font-weight: 1000;
}

.hero p {
  font-size: 15px;
  color: black;
}
