
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #ffffff;
  color: #111;
  line-height: 1.6;
  overflow-x: hidden;
}
.page-border {
  background-color: whitesmoke;
  border: 2px solid #ccc;
  border-radius: 16px;
  max-width: 1100px;
  width: 100%100px;
  overflow: hidden;
  justify-content: center;
  padding: 10px 15px;
margin-left: 200px;
margin-top: 100px;
margin-right: 30px;
}

.navbar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.4rem20px;
  font-weight: 800;
}

.nav-menu a {
  margin: 0 1rem;
  text-decoration: none;
  color: gray;
  font-weight: 500;
}

.nav-menu .active {
  color: rgba(0, 0, 255, 0.737); 
  font-weight: 600;
}

.login-btn {
  padding: 10PX 20PX;
  border: 2px solid #ccc;
  border-radius: 40px;
  background: white;
  font-weight: 600;
}

.login-btn:hover {
  border-color: rgb(7, 160, 171);
  color: rgb(7, 160, 171);
}

.hero {
  text-align: center;
  padding: 10PX 20PX;
  position: relative;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.25;
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 10px;
  background-size: contain;
}


.subtext {
  margin-top: 20PX;
  font-size: 10PX 20PX;
  color:gray;
}


.cta-btn {
  margin-top: 10PX;
  background: black;
  color: white;
  padding: 20PX 30PX;
  border: none;
  border-radius: 40px;
  font-size: 15PX;
  font-weight: 600;
  
  .navbar {
    padding: 20PX 30PX;
  }

  .hero h1 {
    font-size: 30PX;
  }

  .nav-menu {
    display: none;
  }

 

